.item {
  display: flex;
  gap: 24px;
  width: 200px;
  font-size: 18px;
  font-weight: 700;
  border: 1px solid grey;
  margin-bottom: 8px;
  padding: 8px;
}

.isOnline {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: green;
  margin-top: auto;
  margin-bottom: auto;
}

.isOffline {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
  margin-top: auto;
  margin-bottom: auto;
}
